//colors
$black: #000;
$white: #fff;

//size
$w-desktop: 1024px;
$w-tablet: 768px;
$w-mobile: 425px;

//width
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-w: 900;

//fonts
$f-MuseoSansCyrl900: "Museo Sans Cyrl 900", sans-serif;
$f-MuseoSansCyrl700: "Museo Sans Cyrl 700", sans-serif;
$f-MuseoSansCyrl500: "Museo Sans Cyrl 500", sans-serif;
$f-MuseoSansCyrl300: "Museo Sans Cyrl 300", sans-serif;
$f-MuseoSansCyrl100: "Museo Sans Cyrl 100", sans-serif;
