doctype html
html
    head
        block title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //- <!--[if IE 8]>script(src='/ie.js')<![endif]-->
        include _head_style
        
    body
        main.main
            block content
            //end content
        //end main
        include _scripts