extends core/_template

block title
	title Harpiks

block content
	.harpiks
		.main-img
			img(src="images/Floating-A4-Paper-Mockup.jpg", alt="")

		.harpiks-container
			section.identity
				._container.container
					.shadow-title.tst Identity
					._title 
						h2.h2-title Harpiks
						.h2-underline
					
					.identity-steps
						._step
							._step-title 
								div Клиент
								._step-underline
							._step-description.
								Harpiks — производитель эпоксидных и полиуретановых полов разного назначения. Особенность продукта в том, что все материалы экологически чистые и самого высокого качества. Компания не только производит полы, но и осуществляет монтаж на месте.
						._step
							._step-title 
								div Задача
								._step-underline
							._step-description.
								Перед нами стояла задача разработать дружелюбный и запоминающийся логотип. Заказчик склонялся к тому, чтобы использовать персонажа, а также провести ассоциацию со смолой — именно так со шведского переводится «harpiks».
						._step
							._step-title 
								div Решение
								._step-underline
							._step-description.
								В процессе работы мы остановились на образе медведя. С одной стороны этот персонаж символизирует надежность, крепость и основательность. С другой — медведь неизменно ассоциируется с хвойным лесом, природой, а также со страной производителя. Мы выбрали чистые, но не броские цвета и упростили иллюстрацию головы медведя.
			
				.resources
					._container.container
						._list
							._item
								._value#js-hours 40
								._label часов
								._description.
									Мы работали над созданием логотипа и фирменного паттерна
							._item
								._value 4
								._label специалиста
								._description.
									Участвовали в разработке:<br/>
										Арт-директор<br/>
										Дизайнер<br/>
										Менеджер проекта<br/>
										Редактор<br/>
							._item
								._value#js-variants 10
								._label вариантов
								._description.
									Было создано нашими дизайнерами, 5 из которых презентовано заказчику
					._img
						img(src="images/Business-Card-Mockup-Vol-03.jpg", alt="")
			//end identity
			
			section.process
				._container.container
					.shadow-title Process
					._title 
						h2.h2-title Разработка
						.h2-underline
				div
					section.process-step.step1
						._container.container
							._title 1 этап
							._description.
								В первой подаче мы предложили заказчику около 5 вариантов, основной тематикой которых были образы медведя, леса и фактура дерева.
						.substeps
							._item
								._container.container
									._info
										._numder 
											div 01.
											._underline
										._logo
											img(src="images/logo1.svg", alt="")
								._img
									.glide
										.glide__track(data-glide-el="track")
											ul.glide__slides
												li.glide__slide
													img(src="images/slider1_1.jpg", alt="")
												li.glide__slide
													img(src="images/slider1_2.jpg", alt="")
										.glide__bullets(data-glide-el="controls[nav]")
											button.glide__bullet(data-glide-dir="=0")
											button.glide__bullet(data-glide-dir="=1")
							._item
								._container.container
									._info
										._numder 
											div 02.
											._underline
										._logo
											img(src="images/logo2.svg", alt="")
								._img
									img(src="images/step2.jpg", alt="")
							._item
								._container.container
									._info
										._numder 
											div 03.
											._underline
										._logo
											img(src="images/logo3.svg", alt="")
								._img
									.glide
										.glide__track(data-glide-el="track")
											ul.glide__slides
												li.glide__slide
													img(src="images/slider2_1.jpg", alt="")
												li.glide__slide
													img(src="images/slider2_2.jpg", alt="")
										.glide__bullets(data-glide-el="controls[nav]")
											button.glide__bullet(data-glide-dir="=0")
											button.glide__bullet(data-glide-dir="=1")
							._item
								._container.container
									._info
										._numder 
											div 04.
											._underline
										._logo
											img(src="images/logo4.svg", alt="")
								._img
									.glide
										.glide__track(data-glide-el="track")
											ul.glide__slides
												li.glide__slide
													img(src="images/slider3_1.jpg", alt="")
												li.glide__slide
													img(src="images/slider3_2.jpg", alt="")
										.glide__bullets(data-glide-el="controls[nav]")
											button.glide__bullet(data-glide-dir="=0")
											button.glide__bullet(data-glide-dir="=1")
							._item
								._container.container
									._info
										._numder 
											div 05.
											._underline
										._logo
											img(src="images/logo5.png", alt="")
								._img
									img(src="images/step5.jpg", alt="")
			
						aside.step-comment
							._person
								._photo(style="background-image:url('images/avatar.jpg')")
								._info
									._name Майя Чернева
									._position руководитель проекта
							._comment 
								span После обсуждения единогласно был выбран вариант с медведем, но заказчик не хотел отказываться и от идеи с фактурой дерева. Поэтому эмблему с медведем мы доработали, а деревянные фактуры реализовали на 
								a(href="") сайте Harpiks
					//.step1

					section.process-step.step2
						._container.container
							._title 2 этап
							._description.
								Заказчик остановился на варианте с эмблемой, изображающей голову медведя. Мы доработали этот вариант, а также добавили иллюстрацию в качестве элемента фирменного стиля для полиграфической продукции.
						.final-logo 
							img(src="images/logo-final.svg", alt="")
						.final-brochure
							img(src="images/final-brochure.jpg", alt="")
						._container.container
							.site-description Деревянные фактуры нашли воплощение на сайте 
								a(href="") Harpiks
							.desktop-img
								img(src="images/desktop.jpg", alt="")
					//.step2
			//end process

			section.guideline
				._container.container
					.shadow-title Guideline
					._title 
						h2.h2-title Гайдлайн
						.h2-underline
					._description.
						Завершающий этап работы — гайдлайн, в котором мы собираем основные версии логотипа, правила использования, фирменные цвета и шрифты, а также паттерн или элементы фирменного стиля.
				._img
					img(src="images/4Free_A4_Brochure_Mockup_02.jpg", alt="")
				._slider
					.glide
						.glide__track(data-glide-el="track")
							ul.glide__slides
								li.glide__slide
									img(src="images/final-brochure.jpg", alt="")
								li.glide__slide
									img(src="images/final-brochure2.jpg", alt="")
						.glide__bullets(data-glide-el="controls[nav]")
							button.glide__bullet(data-glide-dir="=0")
							button.glide__bullet(data-glide-dir="=1")
			//end guideline

			aside.contact-us
				._description.
					Свяжитесь с нами, и мы поможем решить ваши задачи или проконсультируем.
				button._button Связаться
			//end .contact-us
		//end harpiks-container
	//end harpiks